<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Lof_SlackIntegration::slack_integration" sortOrder="50" title="Slack Integration" module="Lof_SlackIntegration" resource="Lof_SlackIntegration::menu" parent="Lof_All::lof_all" />
        <add id="Lof_SlackIntegration::configuration" title="Configuration" module="Lof_SlackIntegration" sortOrder="10" action="adminhtml/system_config/edit/section/lof_slack_integration" resource="Lof_SlackIntegration::configuration" parent="Lof_SlackIntegration::slack_integration"/>
    </menu>
</config>